@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Austin Coding University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Austin Coding University</h2>
        <p>
            Austin Coding University is an application that
            demonstrates how to use Entity Framework goodly.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build it from scratch</h2>
        <p>Dig this dank tutorial I used</p>
        <p><a class="btn btn-default" href="http://www.asp.net/mvc/tutorials/getting-started-with-ef-using-mvc/">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>If you download this you could've totally just not done the assignment</p>
        <p><a class="btn btn-default" href="http://code.msdn.microsoft.com/ASPNET-MVC-Application-b01a9fe8">Download &raquo;</a></p>
    </div>
</div>